[buildout]
parts =
    gae_sdk
    gae_tools
    app_lib

# Keep internal stuff in a subdirectory.
download-cache = etc/downloads
eggs-directory = etc/eggs
develop-eggs-directory = etc/develop-eggs
parts-directory = etc/parts
extensions = buildout-versions
extends = versions.cfg
versions = versions

[gae_sdk]
# Dowloads and extracts the App Engine SDK.
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.4.3.zip
destination = ${buildout:parts-directory}
hash-name = false
clear-destination = true


[gae_tools]
# Installs appcfg, bulkload_client, bulkloader, dev_appserver, remote_api_shell
# and python executables in the bin directory.
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}/google_appengine

[app_lib]
# Sets the library dependencies for the app.
recipe = appfy.recipe.gae:app_lib
lib-directory = src/distlib
use-zipimport = false

# Define the libraries.
eggs =

    tipfy
    tipfy.ext.jinja2
    tipfy.ext.blobstore
    tipfy.ext.taskqueue
    tipfy.ext.db
    tipfy.ext.session
    wtforms
