{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}

  <h2>Что это?</h2>
  <div class="logo">
    <a target="_top" href="/" ><img src="/static/img/w.jpeg" alt="winry" /></a> 
  </div>

  Это прогрессивная <a target="_top" href="/b/">борда</a> с картинками. 

  <h2>Нафига?</h2>

  Все остальное - сосет

  <h2>Чем это лучше?</h2>

  <ul>

    <li>тут есть детектор семенов - радуга возле поста, по которой можно
    различать анонимов в пределах треда (привет, мод-тян lolks)</li>
    <li>мод-тян гайкочяна - не школота с кривым велосипедом и перманентным
    баттхёртом</li>
    <li>мод-тян <b>обещает прислушиваться к мнению пользователей</b> по поводу
    развития борды и обладает временем, знаниями матчасти и деньгами в
    достаточном для поддержания ресурса количестве</li>
    <li>как одно из проявлений любви к юзерам, для куклоебов, ботоебов и скриптоебов - есть <a
      href="/static/api.html">JSON API</a></li>
    <li>борда хостится на Google App Engine, поэтому не падает от каждого
    чиха</li>
    <li>тут нет трипкодов</li>
    <li>на гайкочяне нет вип-трипкодов</li>
    <li>мод-тян гайкочяна не настраивает вакабу неделями, потомучто
    гайкочян работает не на вакабе</li>
    <li>на гайкочяне не нужно перезаливать картинку при неправильной
    капче</li>
    <li>вы можете послать на номер 1035 бесплатное SMS-сообщение с текстом
    WAKABA_NELOH и мод-тян засовывает педалю от своего ашанбайка виталику
    в ухо</li>
  </ul>

<h2>Работающие плюшки</h2>
  <ul>
    <li>
    JSON API: <a href="/static/api.html">reference</a>
    </li>
    <li>остальные пока выпекаем</li>
  </ul>

{% endblock %}
