<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head profile="http://gmpg.org/xfn/11">
    <title>Гайкочян: {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" type="text/css" href="/static/css/futaba.css?17.2" title="Futaba">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block precontent %}
    <div class="logo">
    </div>
    <h1>Добро пожаловать. Снова. Опять.</h1>
    {% endblock %}
    <hr>{% block content %}{% endblock %}
    <div class="footer" > 
      Winry Rokbell | 
      <a href="/static/statement.html">Statement</a> |
      <a href="http://github.com/a37912/gaeaib/" >GAE AIB</a>
    </div>
    {% block scripts %}{% endblock %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18488138-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
