<html>
  <head profile="http://gmpg.org/xfn/11">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/global.css?21.17">
    <link ver="21.8" class="style" rel="stylesheet" type="text/css" href="/static/css/gaech.css?21.10" title="Gaech">
    <link rel="stylesheet" href="/static/css/prettyPhoto.css">
    {% block head %}{% endblock %}
  </head>
  <body>
  {% block body %}
    <div id="bodyContent">
      <div id="topmenu">
        [{% for board,text in boards %}<a title="{{text}}" href="/{{board}}/">/{{board}}/</a> | {% endfor %}
        <a href="/boardlist">все доски</a>
        ]
      </div>
      {% block precontent %}
        <div class="logo"></div>
        <h1 class="title">Гаеч. Люблю, трамвай куплю.</h1>
      {% endblock %}
      {% block controls %}
      {% include "controls.html" %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
      <footer>
        <ul class="links">
          <li><a href="/about">Statement</a></li>
          <li><a href="/api">API</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/xmpp">XMPP/Jabber</a></li>
          <li><a href="http://github.com/a37912/gaeaib/">Соус</a></li>
          <li><a href="http://twitter.com/42chorg">@42chorg</a></li>
        </ul>
        <ul class="sosueme">
          <li class="main">© 2010-2011 Winry Rockbell</li>
          <li>Гайкочан βeta </li>
        </ul>
      </footer>
      {% block scripts %}{% endblock %}
    
  {% endblock %}
    
  <script type="text/javascript">
    var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-18488138-1']);_gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

  </body>
</html>
