{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}

  <h2>Раководник</h2>
  <div class="logo">
    <a target="_top" href="/" ><img src="/static/img/w.jpeg" alt="winry" /></a> 
  </div>

  <h3><a name="flag"></a>Что за радуга?</h3>
  <p>Уважаемый <del>пиздоглазое мудило</del> Семен, у тебя есть возможность внутри поста получить уникальную 
   радугу, которая генерируется на основе функции которая принимает в качестве параметра номер треда и размер 
   твоего пинуса. Поскольку номер треда всегда разный, а пинус <a href="#porn">постоянной длинны</a> то от треда
   к треду твоя радуга будет разной, но в пределах одного треда будет той же самой. Ну либо тебе придется сменить 
   IP.
  </p>

  <h3><a name="markup"></a>Язык разметки?</h3>
  <p>Ой, тут много всего</p>

  <h3><a name="api"></a>Есть ли у вас API по специальной цене?</h3>
  <p>Винри сказала <a href="/api">да</a></p>

  <h3><a name="wishmaster"></a>Почему не работает вишмастер?</h3>
  <p>Гайкочан — это прогрессивный имиджбоард, устаревшие технологии пользователей уиндоус не поддерживаются.</p>

  <h3><a name="porn"></a>Можно ли запостить писечку?</h3>
  <p>Поскольку GAE terms of service достаточно жесткие, мы сами ручками выпиливаем писички. ЦП, расчлененка, и
  прочие неприятные штуки будут и уже выпиливаются. Для эффективного общения не обязательно постить мерзости.
  Возможно мы неисправимые идиоты, но верим, что аноним более вменяем чем о нем пишут в советских газетах.</p>

  <h3><a name=""></a></h3>
  <p></p>

<style>

#space {
    position: absolute;
    left: -300px;
    width: 600px;
    height: 300px;
    border: #fff 1px solid;
    overflow: hidden;
}


.pixel{
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    opacity: 0;
}

</style>




{% endblock %}
