{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}
<h2>Привет, дорогой рак! Заходи, у нас уютненько</h2>
<pre style="float:right">
Двач. Комната. Один. Хуёво.
Очередной ебланский тред.
Добро пожаловать, блядь!
Снова.

Всё будет так. Исхода нет.
Уйдёшь — начнёшь опять сначала.
И будешь снова нелюдим.
Двач, полусонное ебало.
Хуёво, комната, один.

Epic poem by Anonymous.
R. I. P.
2006 — 2009
</pre>

<div>
Немного про борду: <a href="/static/statement.html">statement</a>
</div>

<a target="_top" href="/b/">Раковать?</b>
<center>
  <img src="/static/img/gadg1.jpg" alt="gadg" />
</center>
{% endblock %}
