{% extends "base.html" %}
{% block title %}Тут ничего нет{% endblock %}
{% block content %}
<h2>Разговоры неизвестных</h2>
<div style="float: left">

<hr/>
{% for code, board  in boards %}
<a href="/{{code}}/">/{{code}}/</a> - {{board}}<br/>
{% endfor %}
Все остальные - <a href="/boardlist">тут</a>

<hr/>
Про борду: <a href="/about">statement</a>
</div>
<pre style="float: right">
Двач. Комната. Один. Хуёво.
Очередной ебланский тред.
Добро пожаловать, блядь!
Снова.

Всё будет так. Исхода нет.
Уйдёшь — начнёшь опять сначала.
И будешь снова нелюдим.
Двач, полусонное ебало,
Хуёво, комната, один.

Epic poem by Anonymous.
R. I. P.
2006 — 2009
</pre>


<center>
  <img id="gadg" src="/static/img/gadg1.jpg" alt="gadg" />
</center>
<script type="text/javascript">
  var gimg = document.getElementById("gadg");
  gimg.setAttribute("src", "/static/img/gadg" + (Math.floor(Math.random()*2)+1) + ".jpg");
</script>
{% endblock %}
