{#<div id="comments" class="new-comments comment-holder">
<div class="comment commit-comment repo-collab-tag adminable {% if post.sage %}sage{% endif %}" id="post-{{post.post}}">
  <div class="cmeta">
    <p class="author">
      <strong class="author"><span class="commentpostername {{post.typ}}">{{ post.name|escape }}</span></strong>
    </p>
      {{post.rainbow_html}}   
      {# <span class="tag">repo collab</span> #}
    <p class="info">
      <em class="date"><abbr class="relatize relatized" title="{{post.time}}">{{post.time}}</abbr></em>
      <span class="icon"></span>
      {% if post.sage %}<strong>SAGE</strong>{% endif %}
    </p>
  </div>
  <div class="body">   
    <div class="formatted-content">
      <ul class="actions">
        {# <li><a href="#" class="minibutton btn-edit edit-button"><span><span class="icon"></span>Edit</span></a></li>
        <li><a href="#" class="minibutton btn-delete delete-button"><span><span class="icon"></span>Delete</span></a></li> #}
        {% if post.image %}
        <li><a class="erase-link" href="/delete/{{board}}/{{post.thread}}/{{post.post}}"><span><span class="icon"></span>Delete</span>
              <img alt="Очистить картинку" title="Очистить картинку" src="/static/img/edit-clear.png" /></a></li>
        {% else %}
        <li><a class="erase-link" href="/delete/{{board}}/{{post.thread}}/{{post.post}}"><span><span class="icon"></span>Delete</span>
               <img alt="Очистить текст" title="Очистить текст" src="/static/img/edit-clear.png" />
            </a>
        </li>
        {% endif %}
      </ul>
      <div class="content-body wikistyle">
        {{ post.text_html }}
        <div class="post-replies" id="post-replies-{{post.post}}"><!--REF-{{post.post}}--></div>
      </div>
      {% if post.image %}
      <div class="">
       <span class="filesize">{{post.image.content_type}}:{{ post.image.size }}</span><br/>
       <a href="{{post.image.full}}" target="_blank"><img class="thumb" src="{{post.image.thumb}}"/></a>
      </div>
      {% endif %}

    </div>    
  </div>
</div>

</div>#}

<table id="post-{{post.post}}" class="tablepost" >
  <tbody>
    <tr>
      <td class="doubledash">&gt;&gt;</td>
      <td class="reply">
        <a class="erase-link" href="/delete/{{board}}/{{post.thread}}/{{post.post}}">
          {% if post.image %}
          <img alt="Очистить картинку" title="Очистить картинку" src="/static/img/edit-clear.png">
          {% else %}
          <img alt="Очистить текст" title="Очистить текст" src="/static/img/edit-clear.png">
          {% endif %}
        </a>
        <label>
          <span class="commentpostername {{post.typ}}">{{ post.name|escape }}</span>
          {{post.rainbow_html}}
        </label>
        {% if post.sage %}<label><b>SAGE</b></label>{% endif %}
        {{post.time}}
        {% if post.agent %}
        <span class="agent">{{post.agent|escape}}</span>
        {% endif %}
        <span class="reflink">
          <a class="reflink" name="p{{post.post}}" 
            href="/{{board}}/p{{post.post}}" postid="{{post.post}}" 
            threadid="{{post.thread}}" 
          >#{{post.post}}</a>
        </span>
        {% if post.image %}
  <span class="filesize">{{post.image.content_type}}: 
  {{ post.image.size }}</span>
        <br/>
<a href="{{post.image.full}}" target="_blank">
  <img class="thumb" src="{{post.image.thumb}}"/>
</a>
        {% endif %}
        <blockquote class="postdata" postid="{{post.post}}">{{ post.text_html }}</blockquote>
        <div class="post-replies" id="post-replies-{{post.post}}"><!--REF-{{post.post}}--></div>
      </td>
    </tr>
  </tbody>
</table>
<!--POST-->
<!--NPHERE-->

