<table id="post-{{post.post}}" class="tablepost" >
  <tbody>
    <tr>
      <td class="doubledash">&gt;&gt;</td>
      <td class="reply">
        <a class="erase-link" href="/delete/{{board}}/{{post.thread}}/{{post.post}}">
          {% if post.image %}
          <img alt="Очистить картинку" title="Очистить картинку" src="/static/img/edit-clear.png">
          {% else %}
          <img alt="Очистить текст" title="Очистить текст" src="/static/img/edit-clear.png">
          {% endif %}
        </a>
        <label>
          <span class="commentpostername {{post.typ}}">{{ post.name|escape }}</span>
          <span class="rainbow" cid="{{post.post}}" rainbow="{{post.rainbow}}"></span>
	  <canvas id="rc-{{post.post}}" width="20" height="20" style="border: 1px solid darkGray;"></canvas> 

        </label>
        {% if post.sage %}<label><b>SAGE</b></label>{% endif %}
        {{post.time}}
        {% if post.agent %}
        <span class="agent">{{post.agent|escape}}</span>
        {% endif %}
        <span class="reflink">
          <a class="reflink" name="p{{post.post}}" 
            href="/{{board}}/p{{post.post}}" postid="{{post.post}}" 
            threadid="{{post.thread}}" 
          >#{{post.post}}</a>
        </span>
        {% if post.image %}
        <span class="filesize">
          <a href="{{post.image.full}}"
            target="_blank">{{post.image.content_type}}</a>: 
          {{ post.image.size }}
        </span>
        <br/>
        <div class="imgwrap" id="img{{post.post}}">
          <style>
            div#img{{post.post}} a.close {
              content: url({{post.image.full}});
            }
          </style>
          <a class="close" href="#p{{post.post}}"></a>
          {# <a href="post.image.full" target="_blank">view</a> #}
          <a href="#img{{post.post}}">
            <img class="thumb" src="{{post.image.thumb}}"/>
          </a>
        </div>
        {% endif %}
        <blockquote class="postdata" postid="{{post.post}}">{{ post.text_html }}</blockquote>
        <div class="post-replies" id="post-replies-{{post.post}}"><!--REF-{{post.post}}--></div>
      </td>
    </tr>
  </tbody>
</table>
<!--POST-->
<!--NPHERE-->
