{% macro imagesize(image) -%}
<span class="filesize">
  <a href="{{image.full}}"
      target="_blank">{{image.content_type|escape}}</a>: 
  {{ image.size }}
</span>
{%- endmacro %}

{% macro imagecode(image, post) -%}
<a href="{{image.full}}" rel="prettyPhoto[posts]" img="{{post}}" class="fullimg">
  <img class="thumb" src="{{image.thumb}}"/>
</a>
{%- endmacro %}

{% macro tsubj(thread) -%}
{% if thread.subject %}{{ thread.subject|escape }}{% else %}Тред номер {{thread.id}}{% endif %}
{%- endmacro %}

{% macro ptime(post) -%}
<time class="posttime" title="{{post.time}}" datetime="{{post.timestamp}}">{{post.time}} UTC</time>
{%- endmacro %}

{% macro rb(post) -%}
{#
<span class="rainbow rainbow-{{post.rainbow}}" cid="{{post.post}}" rainbow="{{post.rainbow}}"></span>
<canvas id="rc-{{post.post}}" width="20" height="20" style="border: 1px solid darkGray;"></canvas> 
#}
{{ post.rainbow | rainbow }}
{%- endmacro %}
