{% extends "base.html" %}

{% block content %}
{% block postform %}
<div class="postarea"> 
<form method="post" action="post/" >
 <table class="postform"> 
    <tbody> 
      <tr>
        <th><label for="id_name">Name:</label></th>
        <td><input type="text" name="name" id="id_name" /></td>
      </tr> 
      <tr>
        <th><label for="id_sage">Sage:</label></th>
        <td><input type="checkbox" name="sage" id="id_sage" /></td>
      </tr> 
      <tr>
        <th><label for="id_text">Text:</label></th>
        <td><textarea id="id_text" rows="10" cols="40" name="text"></textarea></td>
      </tr> 
      <tr> 
        <th> 
          <label for="id_image">Image: </label> 
        </th> 
        <td> 
          <input id="upload_img" type="file" name="image"/> 
          <img id="view_img" style="display: none" src="" />
        </td> 
      </tr> 
    </tbody> 
  </table> 

  <input type="hidden" id="upload_key" name="key"></input>
 
  <input type="submit"/>
</form>
</div>

<hr>
{% endblock %}

{% block threads %}{% endblock %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>         
<script type="text/javascript" src="/static/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="/static/js/thread.js"></script>

<script>
  function upload_to(url) {
    $.ajaxFileUpload(
      {
        url: url,
        secureuri:false,
        fileElementId:'upload_img',
        dataType: 'json',
        success: function (data, status) 
        {
          $("#upload_img").remove();
          $("#upload_key").val(data.img);
          var img = $("#view_img");
          img.attr("src", "/img/"+data.img);
          img.show();
        },
        error: function (data, status, e) 
        {
          alert(data);
          alert(status + " err " + e);
        }
      }
    )
  }

  $("#upload_img").change(
  function() {
    $.ajax(
      {
        url: "/post_url",
        success: function(data) {
          upload_to(data)
        }
      }
    )
  }
  )
</script>
<script>
function winry_mode() {
  $("a.reflink").each(
    function() {
      $(this).click( function(e) {
        var postid = $(this).attr("postid");
        var thread = $(this).attr("threadid");

        var url = "/winry/delete/"+board+"/"+thread+"/"+postid;

        $.ajax(
          {
            url: url,
            type: 'POST',
          }
        );
      }
      )
    }

  )
  $("a.reply").each(
    function() {
      var url = $(this).attr("href");
      $(this).attr("href", url+"?winry");
    }
  )
}
var loc = window.location.toString();

if ( loc.indexOf("?winry") != -1) {
  $(document).ready(winry_mode);
}
</script>

</script>
{% endblock %}
