{% extends "base.html" %}

{% block content %}
[ |
{% for board,text in boards %}
<a href="/{{board}}/">/{{board}}/</a> | 
{% endfor %}
]


{% block postform %}
<div class="postarea"> 
<form method="post" action="post/" >
 <table class="postform"> 
    <tbody> 
      <tr>
        <th><label for="id_name">Имя:</label></th>
        <td><input placeholder="Anonymous" type="text" name="name" id="id_name" /></td>
      </tr> 
{% if not reply %}
      <tr>
        <th><label for="id_sage">Сажа:</label></th>
        <td><input type="checkbox" name="sage" id="id_sage" /></td>
      </tr> 
{% else %}
      <tr>
        <th><label for="id_subject">Тема:</label></th>
        <td><input placeholder="25 буковок" size=25 type="text" name="subject" id="id_subject" /></td>
      </tr> 
{% endif %}
      <tr>
        <th><label for="id_text">Вброс:</label></th>
        <td><textarea placeholder="Дай анонимусу текстовое поле и он напишет туда что?" id="id_text" rows="10" cols="40" name="text"></textarea></td>
      </tr> 
      <tr> 
        <th> 
          <label for="id_image">Картинка: </label> 
        </th> 
        <td> 
          <span id="view_img_nojs">Включите javascript для загрузки
            файлов</span>
          <input style="display: none" id="upload_img" type="file" name="image"/> 
          <img id="view_img" style="display: none" src="" />
          <br/>
          <span id="view_img_msg"  style="display: none" >
            Подождите, пока грузится картинка
            </span>
        </td> 
      </tr> 
    </tbody> 
  </table> 

  <input type="hidden" id="upload_key" name="key"></input>
 
  <input type="submit" class="g-button" value="Отправить"/>
</form>
</div>

<hr>
{% endblock %}

{% block threads %}{% endblock %}

[ |
{% for board,text in boards %}
<a href="/{{board}}"/>/{{board}}/</a> | 
{% endfor %}
]


{% endblock %}

{% block scripts %}
<script>
_reply = {% if reply %}true{% else %}false{% endif %};
_board = "{{board}}";
token = "{{thread_token}}"; 

try{
  console
} catch (e) {
  console = undefined;
}
if (console == undefined) {
  console = new Object();
  console.log = function(msg) { msg }
}
</script>
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/ajaxfileupload.js?2"></script>
<script type="text/javascript" src="/static/js/thread.js?17.5"></script>
<script type="text/javascript" src="/static/js/uploader.js?3"></script>
<script type="text/javascript" src="/static/js/winry.js?2"></script>
<script src='/_ah/channel/jsapi'></script>
<script src="/static/js/update.js"></script>
{% endblock %}
