{% block postform %}
<div id="postarea" class="{% if not reply %}reply{% endif %}"> 
<form method="post" action="post/" >
<h3>{% if not reply %}Ответить{% else %}Новая тема{% endif %}</h3>
 <div class="field">
   <label class="formQuestion" for="id_name">Имя</label>
   <div class="formHelp"></div>
   <input type="text" name="name" id="id_name" value="" size="31" maxlength="30" placeholder="Anonymous" />
 </div>
{% if not reply %}
 <div class="field">
   <input class="noborder" type="checkbox" value="on" name="sage" id="id_sage">
   <label class="formQuestion" for="id_sage">Сажа</label>
   <div class="formHelp"></div>
 </div>
{% else %}
 <div id="title" class="field title">
   <label class="formQuestion" for="id_subject">Тема</label>
   <div class="formHelp"></div>
   <input type="text" name="title" id="id_subject" value="" size="26" maxlength="25" placeholder="25 буковок" />
 </div>
{% endif %} 
 <div class="field">
   <label class="formQuestion" for="id_text">Вброс</label>
   <div class="formHelp"></div>
   <div><textarea rows="10" cols="40" name="text" id="id_text" placeholder="Дай анонимусу текстовое поле и он напишет туда что?"></textarea></div>
 </div>

 <div class="field">
   <label class="formQuestion" for="image">Изображение</label>
   <div class="formHelp" id="image_help"></div>
   <span id="view_img_nojs">Включите javascript для загрузки файлов</span>
   <input style="display: none" id="upload_img" type="file" name="image" id="image" size="30"/> 
   <img id="view_img" style="display: none" src="" />
   <br />
   <span id="view_img_msg"  style="display: none" >Подождите, пока грузится картинка</span>
 </div>
 <input type="hidden" id="upload_key" name="key" />
  <input type="submit" class="g-button" id="post_submit" value="Отправить" />
</form>
</div>
{% endblock %}
