{% block scripts %}
<script>
_reply = {% if reply %}true{% else %}false{% endif %};
_board = "{{board}}";
thread = "{{thread.id if thread else ""}}";

try{
  console
} catch (e) {
  console = undefined;
}
if (console == undefined) {
  console = new Object();
  console.log = function(msg) { msg }
}

{% if overlay %}
overlay = new Image();
overlay.src = "/static/images/{{board}}.png";
{% endif %}

</script>
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/ajaxfileupload.js?2"></script>
<script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
<script tyle="text/javascript" src="/static/js/jquery.cookie.js" ></script>
<script type="text/javascript" src="/static/js/thread.js?21.10"></script>
<script type="text/javascript" src="/static/js/uploader.js?18.1"></script>
<script type="text/javascript" src="/static/js/winry.js?2"></script>
<script src='/_ah/channel/jsapi'></script>
<script src="/static/js/update.js?21.1"></script>
<script src="/static/js/notify.js?18.2"></script>
<script src="/api/boardbump"></script>
{% endblock %}
