{% block scripts %}
<script>
_reply = {% if reply %}true{% else %}false{% endif %};
_board = "{{board}}";

try{
  console
} catch (e) {
  console = undefined;
}
if (console == undefined) {
  console = new Object();
  console.log = function(msg) { msg }
}
</script>
<script src="/static/js/jquery-1.4.2.min.js" async></script>
<script src="/static/js/ajaxfileupload.js?2" async></script>
<script src="/static/js/thread.js?19" async></script>
<script src="/static/js/uploader.js?19" async></script>
<script src="/static/js/winry.js?19" async></script>
<script src='/_ah/channel/jsapi'></script>
<script src="/static/js/update.js?19" async></script>
<script src="/static/js/notify.js19" async></script>
{% endblock %}
