{% import 'postmacro.html' as postmacro %}
<div class="thread">
  <div class="threadnum" >
    <a href="/{{thread.board}}/{{thread.id}}">{{postmacro.tsubj(thread)}}</a>
    {% if board != thread.board %}
    @{{thread.board }}
    {% endif %}
  </div>

  <div class="oppost">
  {% if thread.op.image %}
  {{ postmacro.imagesize(thread.op.image) }}

  <span class="reflink">
    <a class="reflink" name="p{{thread.op.post}}" href="#p{{thread.op.post}}" postid="{{thread.op.post}}"
      threadid="{{thread.id}}"  board="{{thread.board}}"
    >#{{thread.op.post}}</a>
  </span>
  <br/>
  {{ postmacro.imagecode(thread.op.image, thread.op.post) }}
  <a class="erase-link" href="/delete/{{board}}/{{thread.id}}/{{thread.id}}"><img 
    alt="Очистить картинку" title="Очистить картинку" src="/static/img/edit-clear.png" /></a>
  {% else %}
  <a class="erase-link" href="/delete/{{board}}/{{thread.id}}/{{thread.id}}"><img 
    alt="Очистить текст" title="Очистить текст" src="/static/img/edit-clear.png" /></a>
  {% endif %}

<label>
  <span class="postername {{thread.op.typ}}">{{ thread.op.name|escape }}</span>
  {{postmacro.rb(thread.op)}}
  {{postmacro.ptime(thread.op)}}
</label>

{% if reply %}
<a class="g-button" href="/{{thread.board}}/{{ thread.id }}/" >Ответить</a>
{% else %}

{% if thread.op.agent %}
<span class="agent">{{thread.op.agent|escape}}</span>
{% endif %}

<span class="reflink">
  <a class="reflink" name="p{{thread.op.post}}" 
    href="#p{{thread.op.post}}" postid="{{thread.op.post}}"
    threadid="{{thread.id}}"  board="{{thread.board}}"
  >#{{thread.op.post}}</a>
</span>

{% endif %}

<br/>
<blockquote postid="{{thread.id}}" class="postdata">{{ thread.op.text_html }}</blockquote>
</div>
{% if thread.skip %}
<span class="omittedposts">Пропущено {{ thread.skip }}</span>
{% endif %}
{% for post in thread.tail_posts %}
{% set board=thread.board %}
{% include 'post.html' %}
{% endfor %}
<!--NPHERE-->
</div>

<div style="clear: both"></div>
<hr/>
