{% extends "postform.html" %}
{% block title %}{{board}} {% endblock %}
{% block threads %}

{% for thread in threads %}

<div class="thread">
<h2>Thread {{ thread.id }}</h2>

<hr/>

<div class="oppost">
{% if thread.op.image %}

<span class="filesize">Image {{thread.op.image.content_type}}: 
  {{ thread.op.image.size }}</span>

<span class="reflink">
  <a class="reflink" name="p{{thread.op.post}}" 
    href="#p{{thread.op.post}}" postid="{{thread.op.post}}" 
  >#{{thread.op.post}}</a>
</span>


<br/>
<a href="{{thread.op.image.full}}" target="_blank">
  <img class="thumb" src="{{thread.op.image.thumb}}"/>
</a>
{% endif %}

<label>
  <span class="postername">{{ thread.op.name }}</span>
  {{thread.op.rainbow_html}}
  {{thread.op.time}}
</label>

{% if reply %}
  <a href="{{ thread.id }}">Reply</a>
{% endif %}

<br/>
<blockquote class="postdata">{{ thread.op.text }}</blockquote>
</div>

{% if thread.skipmsg %}
<span class="omittedposts">{{ thread.skipmsg }}</span>
{% endif %}

{% for post in thread.posts %}
<table>
  <tbody>
    <tr>
      <td class="doubledash">&gt;&gt;</td>
      <td class="reply">
        <label>
          <span class="commentpostername">{{ post.name }}</span>
          {{post.rainbow_html}}
        </label>
        {% if post.sage %}<label><b>SAGE</b></label>{% endif %}
        {{post.time}}
        <span class="reflink">
          <a class="reflink" name="p{{post.post}}" 
            href="#p{{post.post}}" postid="{{post.post}}" 
          >#{{post.post}}</a>
        </span>
        {% if post.image %}
  <span class="filesize">Image {{post.image.content_type}}: 
  {{ post.image.size }}</span>
        <br/>
<a href="{{post.image.full}}" target="_blank">
  <img class="thumb" src="{{post.image.thumb}}"/>
</a>
        {% endif %}
        <blockquote class="postdata">{{ post.text }}</blockquote>
      </td>
    </tr>
  </tbody>
</table>

{% endfor %}
</div>

<div style="clear: left"></div>
<hr/>

{% endfor %}

<table id="post_template" style="display:none">
  <tbody>
    <tr>
      <td class="doubledash">&gt;&gt;</td>
      <td class="reply">
        <label>
          <span class="commentpostername"></span>
          <span class="rb"></span>
        </label>
        <label class="sg"><b>SAGE</b></label>
        <label class="time"></label>
        <span class="reflink">
          <a class="reflink" name="p" href="#" ></a>
        </span>

        <span class="filesize"></span>
        <br id="imgbr"/>
        <a class="thumb" href="#" target="_blank">
          <img class="thumb" src="/"/>
        </a>

        <blockquote class="postdata"></blockquote>
      </td>
    </tr>
  </tbody>
</table>

<script src='/_ah/channel/jsapi'></script>
<script> token = "{{thread_token}}"; </script>

<script src="/static/js/update.js"></script>
</script>

{% endblock %}
