{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}


  <h2>XMPP</h2>

  У нас тут можно создавать треды, отвечать в них и получать новые ответы через
  любой Jabber/XMPP клиент.

  <h2>Как пользоваться</h2>

  <p>Чтобы пользоваться, нужно добавить себе в ростер контакт
  b@bankaiapp.appspotchat.com для других борд, нужно заменить b@ на имя борды.
  </p>

  <p>Чтобы создать новый тред, достаточно отправить этому контакту
  сообщение</p>

  <h2>Как отвечать в треды</h2>

  <p>Сообщение, начинающееся с <tt>&gt;&gt;123</tt> будет отправлено в тред 123 на
  той бордее, контакту которой это было отправлено. Одвременно с отправкой
  ответа, будет добавлена подписка на этот тред</p>


{% endblock %}
