/* Mappings added for integrated TOC handling */

* html { overflow: hidden;  }
* html body { height: 100%; overflow: auto; width: 100%; margin: 0px; }

#menu { display: block; position:fixed; top:0px; left:0px; width:210px; height:100%; background:transparent; }
#tocMenu { display: block; position:fixed; top:0px; left:0px; width:210px; height:100%; background:transparent; }

* html #havmenu { position: absolute; }

#bodyContent { margin-left: 210px; }
* html #bodyContent { margin-left: 220px; }

#bodyContent div object {
    padding: 0;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    border-bottom: 0;
    border-left: 1px solid #808080; 
}


blockquote blockquote {
	margin-left: 0em;
}

form {
	margin-bottom: 0px;
}

form .trap {
	display:none;
}

.postarea {
	text-align: center;
}

.postarea table {
	margin: 0px auto;
	text-align: left;
}

.aa {
  white-space: pre;
  text-align: left;
  font-family: IPAMonaPGothic, Mona, 'MS PGothic', YOzFontAA97 !important;
}

.thumb {
	border: none;
	float: left;
	margin: 2px 20px;
}

.nothumb {
	float: left;
	background: #eee;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}

.reply blockquote, blockquote :last-child {
	margin-bottom: 0em;
}

.reflink a {
	color: inherit;
	text-decoration: none;
}

.reflink a:hover{
	color: #800000;
}

.reply .filesize {
	margin-left: 20px;
}

.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}

.doubledash {
 	vertical-align: top;
	clear: both;
	float: left;
}

.replypage .replylink {
	display: none;
}

.pagelist {
	max-width: 600px;
}

.admin {
	color: #800080;
	font-weight: normal;
}

.mod {
	color: #FF0000;
	font-weight: normal;
}

.vip {
	color: #336600;
	font-weight: normal;
}

.managemenu {
  background: #EEAA88;
	color: #800000;
	padding: 4px;
	clear: both;
	-moz-border-radius: 4px;
}

.logo {
  float: right;
}

.erase-link img {
  border: 0 none;
}

.erase-link { 
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
}

.oppost:hover .erase-link, .reply:hover .erase-link {
  opacity: 1;
}

button.g-button, a.g-button, input[type=submit].g-button {
padding: 6px 10px;
-webkit-border-radius: 2px 2px;
border: solid 1px rgb(153, 153, 153);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
color: #333;
text-decoration: none;
cursor: pointer;
display: inline-block;
text-align: center;
text-shadow: 0px 1px 1px rgba(255,255,255,1);
line-height: 1;
}