{% extends "base.html" %}
{% load captcha %}

{% block content %}
{% block postform %}
<div class="postarea"> 
<form method="post" action="{{upload_url}}" enctype="multipart/form-data">
  <table class="postform">
    <tbody>
      {{ post_form.as_table }}
      <tr>
        <th>
          <label for="id_image">Image: </label>
        </th>
        <td>
          <input type="file" name="image"/>
        </td>
      </tr>
    </tbody>
  </table>

  {% if show_captcha %} 
  <center class="captcha" style=""> {% captcha %}</center> 
  {% endif %}
  <input type="submit"/>
</form>
</div>

<hr>
{% endblock %}

{% block threads %}{% endblock %}
{% endblock %}

