{% extends "postform.html" %}
{% load rainbow %}
{% block title %}thread{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>         
<script type="text/javascript" src="/static/js/thread.js"></script>
{% endblock %}
{% block threads %}

<h2>Thread {{ thread }}</h2>

<hr/>

{% for post in posts %}
<table>
  <tbody>
    <tr>
      <td class="doubledash">&gt;&gt;</td>
      <td class="reply">
        <label>{{ post.name }} {{post.rainbow|rainbow}}</label>
        {% if post.sage %}<label><b>SAGE</b><br/></label>{% endif %}
        <span class="reflink">
          <a class="reflink" name="p{{post.post}}" 
            href="#p{{post.post}}" postid="{{post.post}}" 
          >#{{post.post}}</a>
        </span>
        <br/>
        {% if post.image %}
        <span class="filesize">Image: unknow kb 0x0</span>
        <span>------------------------------------</span>
        <br/>
        <a href="/image/{{post.image}}" target="_blank">
          <img class="thumb" src="/image/thumb_{{post.image}}"/>
        </a>
        {% endif %}
        <blockquote class="postdata">{{ post.text }}</blockquote>
      </td>
    </tr>
  </tbody>
</table>

{% endfor %}

{% endblock %}
