config = {}

config['tipfy'] = {
    'apps_installed': [
      'aib',
    ],
}

config['tipfy.ext.jinja2'] = {
  'templates_dir': ['templates'],
}

config['tipfy.ext.session'] = {
  #choose another one secret_key plz
  'secret_key': '#FIXME BLDJAAAAAAAD!!!!',
  'cookie_args': {
    'max_age': 600,
    }
}

config['aib.forms'] = {
  'spamlist' : [
    '<a href',
    '\[url=',
    '\[link=',
  ],
}

config['aib.rainbow'] = {
  'secret' : 'YOBA', #XXX: fixme

}