config = {}

config['tipfy'] = {
    'apps_installed': [
      'aib',
    ],
}

config['tipfy.ext.jinja2'] = {
  'templates_dir': ['templates'],
  'templates_compiled_target': 'templates_cache',
}

config['tipfy.ext.session'] = {
  #choose another one secret_key plz
  'secret_key': '#FIXME BLDJAAAAAAAD!!!!',
  'cookie_args': {
    'max_age': 600,
    }
}

config['aib.forms'] = {
  'spamlist' : [
    '<a href',
    '\[url=',
    '\[link=',
  ],
}

config['aib'] = {
    "chanlist" : (
      "0chan.ru",
      "2-ch.ru",
    ),
    "boardlist" : (
     ( 'b', 'Beating heart'),
     ( 'a', 'Anime',),
     ( 's', 'School days',),
     ( 'ne', 'Nekospot'),
     ( 'g', '/g/ is for Games'),
     ( 'mod' , 'Dating with Winry',),
     
  #  ( 'ped' , 'Church of Pedaliq Scripts',),
  #  ( 'wh' , 'Imperium', ),
    ),
    "default_name" : "Whoooo?",
    "overlay": ['s', 'g', 'ne'],
    
}

config['aib.ib'] = {
    "thread_per_page" : 10,
    "board_pages" : 5,
    "replies_main" : 5,

    "mod_name" : {
      "admin@somewhere" : 'Winry',
    },
}

config['aib.antiwipe'] = {
    "quota" : 6,
    "quota_all" : 20,
    "interval" : 100,

    "wipe_interval_ratio" : 5,
    "wipe_huge_interval_ratio" : 50,
    "wipe_quota_ratio" : 3,
    "wipe_stat_interval" : 120,
}

config['aib.util'] = {
    'watch_time' : 20*60,
    'watches_max' : 20,
    'options' : {
      's': ['useragent'],
      'b': ['saem'],
      'mod' : [ 'modsign'],
    }
}

config['aib.rainbow'] = {
  'secret' : 'YOBA', #XXX: fixme

}
